<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<body>
<head>
    <meta charset="UTF-8">
    <title>模版名称</title>
</head>
<tr>
    <td>
        <table class="submail-container-warp submail-section-container-style-7373" align="center" border="0"
               cellspacing="0" cellpadding="0"
               style="width:550px;background-color:#ffffff;padding-top:0px;padding-bottom:0px;">
            <tbody>
            <tr>
                <td>
                    <div style="   ; ; ; " class="submail-col-12 submail-cell-style-7374">
                        <table border="0" align="center" cellspacing="0" cellpadding="0" class="fullwidth"
                               style="width:100%;">
                            <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullwidth text-center"
                                           style="width:100%;text-align: center;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="element-image-7375"
                                                     style="margin: 20px 20px 20px 20px; text-align:left;display: block !important;">
                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                           class="element-image-container-7375"
                                                           style="width:22.356078431372552% !important; display:inline-block;">
                                                        <tbody style="width:100%;display:table">
                                                        <tr>
                                                            <td>
                                                                <img th:src="${avatar}" alt="头像" border="0" width="100%;" class="fullwidth">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullwidth"
                                           style="width:100%;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" cellspacing="0" cellpadding="0"
                                                       class="element-text-7376"
                                                       style="width:100%;word-break:  break-word !important;text-align:left;padding: 30px 30px 0px 30px;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="min-height:100px;"><p style="text-align:center">
                                                            <b><span style="font-size:24px"><span
                                                                    style="color:rgb(23, 43, 77); font-family:-apple-system,blinkmacsystemfont,segoe ui,roboto,oxygen,ubuntu,fira sans,droid sans,helvetica neue,sans-serif">SCM智能供应链系统</span></span></b>
                                                        </p>
                                                            <p><span style="color:#000000"><span
                                                                    style="font-family:arial,helvetica,sans-serif"><span
                                                                    style="font-size:16px">尊敬的用户：</span></span></span>
                                                            </p>
                                                            <div>
                                                                <div>
                                                                    <div>
                                                                        <div><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-size:16px">&nbsp; &nbsp; &nbsp;</span>
                                                                            <span style="color:rgb(0, 0, 0); font-family:arial,helvetica,sans-serif; font-size:16px">&nbsp; </span>
                                                                            <span style="color:#000000">
                                                                                <span style="font-size:16px">
                                                                                    <span style="font-family:arial,helvetica,sans-serif">testtesttesttest</span>
                                                                                </span>
                                                                            </span>
                                                                            <span style="color:#FF0000">
                                                                                <span style="font-size:16px">
                                                                                    <span style="font-family:arial,helvetica,sans-serif"><b>高</b></span>
                                                                                </span>
                                                                            </span>
                                                                            <b>
                                                                                <span style="color:#FF0000">
                                                                                    <span style="font-size:16px">
                                                                                        <span style="font-family:arial,helvetica,sans-serif">亮</span>
                                                                                    </span>
                                                                                </span>
                                                                            </b>
                                                                            <span style="color:#000000">
                                                                                <span style="font-size:16px">
                                                                                    <span style="font-family:arial,helvetica,sans-serif">test</span>
                                                                                </span>
                                                                            </span>
                                                                            <b>
                                                                                <span style="color:#FF0000">
                                                                                    <span style="font-size:16px">
                                                                                        <span style="font-family:arial,helvetica,sans-serif">高亮</span>
                                                                                    </span>
                                                                                </span>
                                                                            </b><span style="color:#000000">
                                                                                <span style="font-size:16px">
                                                                                    <span style="font-family:arial,helvetica,sans-serif">test </span>
                                                                                </span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div><br></div>
                                                                </div>
                                                            </div>
                                                            <p style="text-align:center">
                                                                <a href="https://www.baidu.com"
                                                                    style="-moz-box-shadow: 3px 4px 0px 0px #284470;-webkit-box-shadow: 3px 4px 0px 0px #284470;box-shadow: 3px 4px 0px 0px #284470;background-color:#415989;-moz-border-radius:18px;-webkit-border-radius:18px;border-radius:18px;border:1px solid #1f2f47;display:inline-block;color:#ffffff;font-family:arial;font-size:19px;font-weight:normal;font-style:normal;padding:10px 25px;text-decoration:none;text-shadow:0px 1px 0px #263666;"
                                                                    rel="noopener" target="_blank">按钮</a>
                                                            </p>
                                                            <p style="text-align:center"><br></p>
                                                            <p>
                                                                <span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-size:16px">&nbsp; &nbsp; &nbsp;<span
                                                                    style="font-family:arial,helvetica,sans-serif"> &nbsp;十一载风雨兼程，初心不改似磐石。</span></span>
                                                            </p>
                                                            <p>
                                                                <span
                                                                    style="font-family:arial,helvetica,sans-serif"><span
                                                                    style="color:#000000"><span style="font-size:16px">&nbsp; &nbsp; &nbsp;</span><span
                                                                    style="font-size:16px">&nbsp; 我们将继续聆听客户的反馈，为客户提供更深入的技术支持，不</span></span><span
                                                                    style="color:rgb(0, 0, 0); font-size:16px">断迭代和优化，打造出更好服务于客户的产品。</span></span>
                                                            </p>
                                                            <p><br></p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullwidth text-center"
                                           style="width:100%;text-align: center;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="element-image-7377"
                                                     style="margin: 12px 12px 4px 22px; text-align:left;display: block !important;">
                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                           class="element-image-container-7377"
                                                           style="width:27.280232558139534% !important; display:inline-block;">
                                                        <tbody style="width:100%;display:table">
                                                        <tr>
                                                            <td>
                                                                <img alt="二维码" th:src="${avatar}" border="0" width="100%;" class="fullwidth">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullwidth"
                                           style="width:100%;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" cellspacing="0" cellpadding="0"
                                                       class="element-text-7378"
                                                       style="width:100%;word-break:  break-word !important;text-align:left;padding: 0px 31px 31px 31px;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="min-height:100px;">
                                                            <p><span style="font-size:14px">客服QQ：3894932596 </span></p>
                                                            <p><span style="font-size:14px">客服热线：123-456-7890 </span></p>
                                                            <p><span style="font-size:14px">我们的邮箱：3894932596@qq.com </span></p>
                                                            <p style="text-align:right">
                                                                <span
                                                                    style="font-family:arial,helvetica,sans-serif"><a
                                                                    href="https://www.baidu.com"
                                                                    rel="noopener" target="_blank"><span
                                                                    style="color:rgb(0, 0, 0)"><span
                                                                    style="font-size:16px">SCM智能供应链系统</span></span></a>
                                                                </span>
                                                            </p>
                                                            <p style="text-align:right">
                                                                <span
                                                                    style="font-family:arial,helvetica,sans-serif">
                                                                    <a href="https://www.baidu.com"
                                                                    rel="noopener" target="_blank"><span
                                                                    style="color:rgb(0, 0, 0)"><span
                                                                    style="font-size:16px">www.baidu.com</span></span></a>
                                                                </span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
</body>
</html>
